.MMM-Bubi table {
  width: auto !important;
}

.MMM-Bubi table.align-right {
  float: right;
}

.MMM-Bubi .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.MMM-Bubi .symbol-cell,
.MMM-Bubi .count-cell {
  padding-right: 10px;
  text-align: right;
}

.MMM-Bubi .name-cell {
  text-align: left;
}
